<div class="container">
    <div class="row">
            <p>Name : {{users.name}}</p>
            <p>Username : {{users.username}}</p>
            <p>Email : {{users.email}}</p>
            <p>Phone : {{users.phone}}</p>
            <p>Website : {{users.website}}</p>
            <h2>Address</h2>
            <p>Street : {{users.address.street}}</p>
            <p>Suite : {{users.address.suite}}</p>
            <p>City : {{users.address.city}}</p>
            <p>Zipcode : {{users.address.zipcode}}</p>
            <h2>Geo</h2>
            <p>Lat : {{users.address.geo.lat}}</p>
            <p>Lon : {{users.address.geo.lng}}</p>
            <h2>Company</h2>
            <p>Name : {{users.company.name}}</p>
            <p>Catch Phrase : {{users.company.catchPhrase}}</p>
            <p>Bs : {{users.company.bs}}</p>
            </div>
</div>